<div class="container">
  <div class="page-header">
    <h1>Todo List App</h1>
  </div>

  <div class="btn btn-primarry">
    MEOEW BLYJAT
  </div>
  <form name="addForm" ng-submit="vm.addTask(task)">
    Enter text and hit enter:
    <input type="text" ng-model="task.name" name="name" placeholder=" name"/>
    <input type="text" ng-model="task.description" name="description" placeholder=" description"/>
    <input type="submit" id="submit" value="Submit"/>
  </form>
  <!--<input type="text" ng-model="task.name">-->
  <!--<input type="button" ng-click="vm.addTask(task)" value="add task">-->

  <ul ng-repeat="task in vm.getAll">

    <li>{{task.name}}</li>
    <li>{{task.description}}</li>
    <button class="btn btn-danger" ng-click="vm.remove(task._id)">Remove</button>
    <button class="btn btn-warning" ng-click="showme=true">Edit</button>
    <input ng-show="showme" type="text" ng-model="task.name" placeholder="input name">
    <input ng-show="showme" type="text" ng-model="task.description" placeholder="input description">
    <button class="btn btn-success" ng-click="vm.edit(task)">Send</button>


  </ul>


</div>
