<section id="todoapp">
  <header>
    <h1>Todo List</h1>
    <form ng-keyup="$event.keyCode == 13 && vm.addTask(task)" >
      <input class="new-todo" placeholder="Input new task" ng-model="task.name">
      <input class="new-todo" type="text" placeholder="Input description"  ng-model="task.description">
    </form>
  </header>

  <section id="main">
    <input id="toggle-all" type="checkbox" ng-model="task.isDone" ng-click="vm.doneAll(task.isDone)">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list">
      <li ng-repeat="task in vm.getAll|filter:myFilter" ng-class="{isDone: task.isDone}">
        <div  class="view form-group">
          <input ng-if="$index !== vm.current" class="toggle" type="checkbox" ng-model="task.isDone"
                 ng-change="vm.isDone(task)">
          <input ng-if="$index !== vm.current" class="glyphicon glyphicon-star-empty" type="checkbox"
                 ng-click="vm.isFavourite(task)"
                 ng-model="task.isFavourite">

          <label   ng-if="$index !== vm.current">
            <button ng-click="vm.editName($index)"> {{task.name}}</button>
            <br>
            <p class="subtask">{{task.description}}</p>

           <button ng-click="Event = !Event" class="date">{{task.createdAt| date: "MMMM dd, yyyy 'at' HH:mm"}}</button>

            <form  ng-show="Event" ng-submit="vm.createSubtask(task)" >
              <hr>
              <input class="new-subtask" type="text"  ng-model="task.subTask.name"   placeholder="Create new subtask"/>
            </form>
            <el-subtask task="task" ng-show="Event"></el-subtask>
                        <!--<input type="text" date-time="" ng-model="task.createdAt" view="hours" format="lll" class="ng-pristine ng-valid ng-scope ng-touched">-->
          </label>


          <form ng-submit="vm.saveName(task, $event)"  ng-show="$index==vm.current && !vm.showEdit">
            <input
              ng-keyup="$event.keyCode == 27 && vm.saveName(task)"
              ng-blur="vm.saveName(task, $event)" autofocus id="input" class="edit-task" type="text" ng-model="task.name">
          </form>
          <button  ng-if="$index !== vm.current" class="destroy" ng-click="vm.remove(task._id)"></button>

        </div>
      </li>
    </ul>



  </section>

  <footer id="footer">
      <span id="todo-count"><strong>{{vm.getAll.length}}</strong>
						<ng-pluralize count="vm.getAll.length"
                          when="{ one: 'task left', other: 'tasks left'}">
            </ng-pluralize>
					</span>
    <ul id="filters">
      <li>
        <a href="#/todo" ng-click="myFilter = {}">All</a>
      </li>
      <li>
        <a href="#/todo" ng-click="myFilter = {isDone: false}">Active</a>
      </li>
      <li>
        <a href="#/todo" ng-click="myFilter = {isDone: true}">Completed</a>
      </li>
    </ul>
    <button id="clear-completed"  ng-click="vm.clearIsDone(vm.getAll)">Clear completed</button>
  </footer>

</section>



<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-lg-6">-->
<!--<div class="page-header">-->
<!--<h1>Todo List App</h1>-->
<!--</div>-->
<!--<form class="form-group control-label" name="addForm" ng-submit="vm.addTask(task)">-->
<!--Create new task:-->
<!--<input class="form-control" type="text" ng-model="task.name" name="name" placeholder=" name"/>-->
<!--<input class="form-control" type="text" ng-model="task.description" name="description"-->
<!--placeholder=" description"/>-->
<!--<input class="btn btn-success form-control" type="submit"  value="Submit"/>-->
<!--</form>-->
<!--<div  ng-repeat="task in vm.getAll" >-->

<!--<button type="button" class="list-group-item"  >-->

<!--<label>-->
<!--<input class="isDone" type="checkbox" ng-model="task.isDone" ng-click="vm.isDone(task)">-->
<!--</label>-->
<!--<label>-->
<!--<input class="glyphicon glyphicon-star-empty" type="checkbox" ng-click="vm.isFavourite(task)" ng-model="task.isFavourite">-->
<!--</label>-->

<!--<a class="glyphicon glyphicon-remove hand" ng-click="vm.remove(task._id)" ></a>-->
<!--<a class="glyphicon glyphicon-edit" ng-click="showme = ! showme"> </a>-->
<!--<a class="glyphicon glyphicon-inbox" ng-click="Event = !Event"> </a>-->

<!--<span class="done done-{{task.isDone}}">-->
<!--{{'Task name: ' + task.name}}-->
<!--<br>-->
<!--{{'Description: ' + task.description}}-->
<!--<br>-->
<!--{{'Subtask: ' + task.subTask.length}}-->
<!--</span>-->
<!--</button>-->

<!--<div ng-show="showme" >-->
<!--<form>-->
<!--<p>Change this task</p>-->
<!--<input class="form-control" type="text" ng-model="task.name" placeholder="input name">-->
<!--<input class="form-control" type="text" ng-model="task.description" placeholder="input description">-->
<!--<input class="btn btn-success form-control" type="submit" ng-click="vm.edit(task)" value="Send"/>-->
<!--</form>-->
<!--</div>-->
<!--<form class="form-group control-label" name="addForm" ng-show="Event" ng-submit="vm.createSubtask(task)" >-->
  <!--Create new subtask:-->
  <!--<input class="form-control" type="text"  ng-model="task.subTask.name"   placeholder=" name"/>-->
  <!--<input class="btn btn-success form-control" type="submit"  value="Submit"/>-->
<!--</form>-->
<!--<el-subtask task="task" ng-show="Event"></el-subtask>-->



<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
